.text {
    margin: 0 auto;
    position: relative;
    width: 600px;
}
.text p {
    background-color: blue;
    color: white;
    margin-top: 0;
}
#picture {
    float: right;
    width: 250px;
    height: auto;
}
@media (max-width: 1024px){
    .main {
        width: 100%;
    }
}